<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>161767338934-r078pgk0nia0imn2m84skjnujpj4pa54.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.161767338934-r078pgk0nia0imn2m84skjnujpj4pa54</string>
	<key>API_KEY</key>
	<string>AIzaSyD72OQ-pemZZmmy6-z12SylpbBD-FFFo8U</string>
	<key>GCM_SENDER_ID</key>
	<string>161767338934</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.StoicSoftware.Slug-Course-Map</string>
	<key>PROJECT_ID</key>
	<string>slug-course-map</string>
	<key>STORAGE_BUCKET</key>
	<string>slug-course-map.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:161767338934:ios:5c46e095767fb133910717</string>
</dict>
</plist>